<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <typeAliases>
    <typeAlias alias="UUIDBean"        type="com.manniwood.mmpt.test.beans.UUIDBean" />
    <typeAlias alias="UUID"            type="java.util.UUID" />
    <typeAlias alias="UUIDTypeHandler" type="com.manniwood.mmpt.typehandlers.UUIDTypeHandler" />

    <typeAlias alias="IntArrayBean2"        type="com.manniwood.mmpt.test.beans.IntArrayBean2" />
    <typeAlias alias="IntegerArrayTypeHandler" type="com.manniwood.mmpt.typehandlers.IntegerArrayTypeHandler" />
  </typeAliases>

  <typeHandlers>
    <package name="com.manniwood.mmpt.typehandlers"/>
  </typeHandlers>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="UNPOOLED">
        <property name="driver"                           value="org.postgresql.Driver"/>
        <property name="url"                              value="jdbc:postgresql://localhost:5432/test"/>
        <property name="username"                         value="test"/>
        <property name="password"                         value="test"/>
        <property name="defaultTransactionIsolationLevel" value="2"/>  <!-- 2 == TRANSACTION_READ_COMMITTED -->
      </dataSource>
    </environment>
  </environments>
 
  <mappers>
    <mapper resource="mybatis/test.xml"/>
  </mappers>
 
</configuration>
